{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="news-list">
          <div class="col-12">
            <h3 class="content-section">Пятиминутка ненависти</h3>
          </div>
          <div class="row justify-content-start">
            {{ range first 3 (where .Site.RegularPages "Type" "news") }}

            <div class="col-12 col-md-4 mb-1">
              <article class="post-preview">
                <a href="{{ .Permalink }}">
                  {{ partial "news_meta.html" . }}
                </a>
              </article>
            </div>
            {{ end }}
          </div>
            <a href="{{ .Site.BaseURL }}categories/новости/" class="news-link">Все новости &rarr;</a>
        </div>

        <!-- В это сложно поверить, но я СОВЕРШЕННО не знаю HTML -->
        <br>
        <br>

        <div class="posts-list">
          <div class="col-12">
            <h3 class="content-section">Возмутительно длинные тексты</h3>
          </div>
          {{ $pag := .Paginate (where .Site.RegularPages "Type" "post") }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
                {{ if and (.Params.featured_image) (.Site.Params.featuredImagesOnFrontpage) }}
                <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" class="img-title" />
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}

              {{ if .Params.tags }}
                <div class="blog-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </div>
              {{ end }}
            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
